/* まずはスタイルリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.logo {
  display: block;
  text-align: center;
  width: 400px;
  position: fixed;
  top: 100px;
  left: calc(50% - 400px / 2);
}

.logo h1 {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

#volume {
  position: absolute;
  bottom: 30%;
  width: 180px;
  left: calc(50% - 180px / 2);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 5px;
  border-radius: 6px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #555;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#volume:focus,
#volume:active {
  outline: none;
}

.time-select,
.sound-picker,
.player-container {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}

.video-container {
  background-size: cover;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100vh;
  z-index: -999;
}

.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}

.time-select button:hover {
  color: black;
  background: white;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 30px;
}

.sound-picker button:nth-child(1) {
  background: #4972a1;
}

.sound-picker button:nth-child(2) {
  background: #a14f49;
}

.sound-picker button img {
  height: 100%;
}

/* スマホ */
@media only screen and (max-width: 767px) {
  .player-container svg {
    position: absolute;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
  }

  .player-container img {
    height: 7%;
  }

  .time-display {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 32px;
  }

  .sound-picker button {
    border: none;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    padding: 20px;
  }

  .time-select button {
    font-size: 14px;
    width: 65%;
    height: 8%;
  }

  #volume {
    position: absolute;
    bottom: 35%;
    width: 135px;
    left: calc(50% - 135px / 2);
  }

  .logo {
    display: block;
    text-align: center;
    width: 400px;
    position: fixed;
    top: 50px;
    left: calc(50% - 400px / 2);
  }
}

/* タブレット */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .player-container svg {
    position: absolute;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
  }

  .player-container img {
    height: 9%;
  }

  .time-display {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 40px;
  }

  .sound-picker button {
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 30px;
  }

  .time-select button {
    width: 45%;
  }
}
